@font-face {
    font-family: 'Luckiest-Guy';
    src: url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
}
    
@font-face {
  font-family: 'Monoton';
  src: url(https://fonts.googleapis.com/css?family=Monoton);
}

@font-face {
  font-family: 'Sigmar-One';
  src: url(https://fonts.googleapis.com/css?family=Sigmar+One);
}

h1 {
 font-family: 'Luckiest-Guy';
}

h2 {
  font-family: 'Monoton';
}

h3 {
  font-family: 'Sigmar-One';
}
